{
	"name": "{{ .Name }}",
	"colors": {
		"editor.background": "#1e1e1e",
		"editor.foreground": "#d4d4d4"
	},
	"tokenColors": [
		{
			"name": "Keywords",
			"scope": "keyword.control",
			"settings": {
				"foreground": "#569cd6"
			}
		}
	]
}
