{
  "name": "{{ .Identifier }}",
  "displayName": "{{ .Name }}",
  "publisher": "{{ .Publisher }}",
  "description": "{{ .Description }}",
  "version": "0.0.1",
  "license": "{{ .License }}",
  "engines": {
    "vscode": "^1.90.0"
  },
  "categories": [
    "Programming Languages"
  ],
  "main": "./dist/extension.js",
  "contributes": {
    "languages": [{
      "id": "{{ .Identifier }}",
      "aliases": ["{{ .Name }}", "{{ .Identifier }}"],
      "extensions": [".{{ .Identifier }}"],
      "configuration": "./language-configuration.json"
    }],
    "grammars": [{
      "language": "{{ .Identifier }}",
      "scopeName": "source.{{ .Identifier }}",
      "path": "./syntaxes/{{ .Identifier }}.tmLanguage.json"
    }]
  },
  "scripts": {
    "vscode:prepublish": "npm run build",
    "build": "tsc -p ./",
    "watch": "tsc -watch -p ./",
    "test": "echo \"No tests yet\""
  },
  "devDependencies": {
    "typescript": "^5.0.0",
    "@types/vscode": "^1.90.0"
  }
}

