import * as vscode from 'vscode';

export function registerGoodbye(context: vscode.ExtensionContext) {
  const disposable = vscode.commands.registerCommand('{{ .Identifier }}.goodbye', () => {
    vscode.window.showInformationMessage('Goodbye from {{ .Name }}!');
  });

  context.subscriptions.push(disposable);
}
