{
  "name": "{{ .Identifier }}",
  "displayName": "{{ .Name }}",
  "publisher": "{{ .Publisher }}",
  "description": "{{ .Description }}",
  "version": "0.0.1",
  "license": "{{ .License }}",
  "engines": {
    "vscode": "^1.90.0"
  }
}
